{% extends 'base.html' %}

{% block title %}Formulario Producto - StockWise{% endblock %}

{% block content %}

<div class="mb-4">
    <h1>Formulario de producto</h1>
    <p class="text-muted">
        Registra o actualiza productos del inventario.
    </p>
</div>

<div class="card dashboard-card">
    <div class="card-body">

        <form method="POST">

            {% csrf_token %}

            <div class="row">

                <div class="col-md-6 mb-3">
                    <label class="form-label">Nombre</label>
                    {{ form.nombre }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Categoría</label>
                    {{ form.categoria }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Precio</label>
                    {{ form.precio }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Stock</label>
                    {{ form.stock }}
                </div>

                <div class="col-md-6 mb-3">
                    <label class="form-label">Stock mínimo</label>
                    {{ form.stock_minimo }}
                </div>

                <div class="col-12 mb-3">
                    <label class="form-label">Descripción</label>
                    {{ form.descripcion }}
                </div>

            </div>

            <button type="submit" class="btn btn-primary rounded-3">
                Guardar producto
            </button>

            <a href="{% url 'lista_productos' %}"
               class="btn btn-secondary rounded-3">
               Cancelar
            </a>

        </form>

    </div>
</div>

{% endblock %}